header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgb(83, 5, 143);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgb(83, 5, 143);
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    border: 5px green solid;
    padding-top: 10px;
    padding-top: 10px;
}
.one{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgb(83, 5, 143);
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
.body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    border: 5px green solid;
}
.vi{
    display: flex;
    border: 5px green solid;
}
.viwaterline{
    height: 423px;
}
.Kayla{
    font-size: 100px;
    position: absolute;
    top: 15%;
    left: 39%;
}
.container2{
    display: flex;
    justify-content: space-between;
    border: 5px green solid;
    margin-top: 10px;
}
.leftlinks{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
a{
    text-decoration: none;
}

.container3{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px green solid;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
    padding-top: 10px;
}
.interest{
    font-size: 50px;
    border-top: 10px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titleheader{
    font-size: 50px;
}
.aboutme{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.aboutme2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.life{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titleheader2{
    font-size: 50px;
    border-top: 10px solid green;
}
.leftpics{
    width: 250px;
    height: 250px;
}
.life{
    font-size: 15px;
}
.GSU{
    scale: 145%;
    padding-top: 26px;
    padding-left: 55px;
}
.USF{
    scale: 150%;
    padding-top: 28px;
    padding-right: 61px;
}
.rightpics{
    width: 200px;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
}